@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@300&display=swap');
body {
    background-color: #FF6600;
}
body.page_producteur {
    background-color:#9A9A9F;
;
}
/***********************************
            entête
***********************************/
div.menu img {
    height: 50px;
}

header{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

header nav div.iconavion{
    display: block;
    text-align: center;
}
header nav div.menu {
    position: absolute;
}

header nav div  {
    display: inline-block;
}
.page_producteur .iconavion {
    margin-right: auto;
    margin-left: auto;
    display: block;
}


/***********************************
         contenu principal
***********************************/

h1, .histoire {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}
.page_producteur h1 {
    text-align: center;
}
.page_producteur .a320neo {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

p {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.intro {
    font-weight: bold;
}

/***********************************
          pied de page
***********************************/
footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer div {
    font-family: lato, sans-serif;
    font-size: 20px;
}