@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@300&display=swap');
body {
    background-color: #FF6600;
}
body.page_producteur {
    background-color:#9A9A9F;
}
body.page_moteur {
    background-color:#9A9A9F;
}
body.page_lien {
    background-color: #001A5B;
}
body.page_menu {
    background-color: #FFFFFF;
}

/***********************************
            entête
***********************************/
div.menu img {
    height: 50px;
}

header nav div.iconavion{
    display: block;
    text-align: center;
}
header nav div.menu {
    position: absolute;
}

header nav div  {
    display: inline-block;
}
.iconavion .page_producteur, .page_type .iconavion, .page_moteur .iconavion, .page_lien .iconavion {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.page_producteur .menu, .page_type .menu, .page_moteur .menu, .page_lien .menu {
    position: absolute;
}


/***********************************
         contenu principal
***********************************/

h1, .histoire {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}
.page_producteur h1, .page_type h1, .page_moteur h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.page_lien h1, .page_lien h2 {
    color:#FFFFFF;
    text-align: center;
}

p {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 0% 5% 0% 5%;
}
.intro {
    font-weight: bold;
}
.page_producteur img, .fr24, .planespotters, .jetphotos, iframe {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.page_type table , table tr , table tr td {
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}
.page_type table {
    margin: 0% 10% 0% 10%;
    font-size: 20px;
    color: #FFFFFF;
}
.page_moteur ul {
    list-style-type: none;
    text-align: center;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 0% 0% 0% 0%;
}

.page_menu li a {
    text-decoration: none;
}
.page_menu ul {
    list-style-type: none;
    list-style-image: url("images/iconavion30height.png");
    margin: 0% 10% 0% 10%;
}
 iframe {
     width: 100%;
     font-size: 12px;
 }


/***********************************
          pied de page
***********************************/
footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer div {
    font-family: lato, sans-serif;
    font-size: 20px;
    padding : 0% 0% 5% 0%;
    color: #FFFFFF;
}
.instagram {
    padding : 0% 0% 0% 5%;
}
.prenomnom {
    color: #000000;
}