@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@300&display=swap');
body {
    background-color: #FF6600;
}
/***********************************
            entête
***********************************/
div.menu img {
    height: 100px;
}

header {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

header nav div.iconavion {
    display: block;
    text-align: center;
}
header nav div.menu {
    position: absolute;
}

header nav div  {
    display: inline-block;
}


/***********************************
         contenu principal
***********************************/

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 25px;
    left: 0px;
    top: 146px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #000000;

}

.histoire {
    width: 372px;
    height: 25px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}
p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
}

/***********************************
          pied de page
***********************************/
footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}