/* Écrans moyens >= 481px */
@media only screen and (min-width: 480px) {
    p {
        font-size: 20px;
        line-height: 25px;
        padding: 0% 2% 0% 2%;
        width: 100%;
    }

    .page_producteur .a320neo, .page_producteur .logo, .page_type .avion, .page_moteur .moteur {
        width: 50%;
    }

    .page_producteur .sectionavion, .page_type .sectiontype, .page_moteur .sectionmoteur {
        width: 45%;
    }

    .page_producteur img, .page_producteur section, .page_type img, .page_type section, .page_moteur img, .page_moteur section, .page_moteur ul {
        display: inline-block;
        vertical-align: middle;
        margin-left: unset;
        margin-right: unset;
    }

    .page_producteur .iconavion, .page_type .iconavion, .page_moteur .iconavion {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .page_producteur .train {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 100%;
    }
    .page_type .intro, .page_moteur .intromoteur {
        text-align: center;
        display: block;
    }
    .page_type footer div, .page_moteur footer div {
        display: block;
        padding : 5% 0% 5% 0%;
    }
    .page_type table {
        font-size: 25px;
    }
    .page_moteur ul li {
        padding : 5% 0% 5% 0%;
    }
    .page_lien .introlien {
        text-align: center;
        font-weight: bold;
    }
    .page_lien iframe {
        height: 100%;
        width: 75%;
        max-width: 300px;
        max-height: 200px;
    }
    .reseausociaux {
       margin: 0% 0% 0% 10%;
        display: inline;
    }
    .menunavigation {
        padding: 0% 0% 0% 35%;
    }
}

@media only screen and (min-width: 700px) {
    .reseausociaux {
        margin: 0% 0% 0% 20%;
        display: inline;
    }

}
@media only screen and (min-width: 1024px) {
    .reseausociaux {
        margin: 0% 0% 0% 25%;
        display: inline;
    }


}
